[tool.pytest.ini_options]
minversion = "7.0"
addopts = "-ra"
testpaths = ["packages"]

[tool.ruff]
line-length = 100
target-version = "py310"

[tool.mypy]
python_version = "3.10"
warn_unused_ignores = true
warn_redundant_casts = true
warn_return_any = true
strict_optional = true
